<!DOCTYPE HTML>
<html lang="en-us">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <title>Devin Matte | Portfolio</title>

    <meta name="theme-color" content="#131228">
    <meta name="author" content="Devin Matte">
    <meta name="description"
          content="Devin Matte is a Full Stack Software Engineer currently Studying Software Engineering at Rochester Institute of Technology. This site is a live portfolio of his work, resume and projects">

    <link rel="stylesheet" href="assets/css/main.css"/>

    <!-- Icons -->
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">

    <meta name="msapplication-TileColor" content="#6e64e5">
    <meta name="msapplication-TileImage" content="mstile-144x144.png">
    <meta name="msapplication-config" content="browserconfig.xml">

    <link rel="mask-icon" href="images/logo.svg" color="#6e64e5">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90401650-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-90401650-2');
    </script>

    <!-- Manifest -->
    <link rel="manifest" href="manifest.json">
</head>
<body>

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Wrapper -->
    <div class="wrapper">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <a href="index.html" class="logo">Devin Matte <span>Full Stack Software Engineer</span></a>
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>
            </header>

            <!-- Nav -->
            <nav id="menu">
                <ul class="links">
                    <li><a href="/">Home</a></li>
                    <li><a href="https://devinmatte.me">Blog</a></li>
                    <li><a href="https://github.com/devinmatte">GitHub</a></li>
                </ul>
                <ul class="actions vertical">
                    <li><a href="/resume" class="button special fit">Resume</a></li>
                </ul>
            </nav>

            <section id="banner">
                <div class="items">
                    <section class="accent1">
                        <h1>Devin Matte</h1>
                        <p>Third Year Software Engineering Student at Rochester Institute of Technology with a focus on Full Stack Web Development</p>
                        <ul class="actions">
                            <li><a href="/resume" class="button special fit">Resume</a></li>
                        </ul>
                    </section>
                </div>
                <div class="slider">
                    <article>
                        <img src="/images/devinmatte.jpg" alt="" data-position="fit right"/>
                    </article>
                </div>
            </section>

            <section class="carousel accent2">
                <header class="major">
                    <h2 style="color: white">Projects</h2>
                </header>

                {% for project in projects %}

                    <article>
                        <div class="image">
                            <picture class="image">
                                <source srcset="/images/webp/{{ project.identifier }}.webp" type="image/webp">
                                <source srcset="/images/png/{{ project.identifier }}.png" type="image/png">
                                <img src="/images/png/{{ project.identifier }}.png" data-position="center" alt="{{ project.title }} Screenshot"/>
                            </picture>
                        </div>
                        <div class="content">
                            <h3>{{ project.title }}</h3>
                            <p>
                                {{ project.description }}
                            </p>
                            {% if project.github %}
                            <ul class="icons">
                                <li>
                                    <a title="{{ project.title }} GitHub" href="{{ project.github }}"
                                       rel="noopener"
                                       target="_blank"
                                       class="icon fa-github" style="cursor: pointer;">
                                        <span class="label">GitHub</span>
                                    </a> | Commits: {{ project.commits }}
                                </li>
                            </ul>
                            {% endif %}
                        </div>
                    </article>

                {% endfor %}

                <nav>
                    <a href="#" class="previous"><span class="label">Previous</span></a>
                    <a href="#" class="next"><span class="label">Next</span></a>
                </nav>
            </section>

        </div>
    </div>
    <!-- Wrapper -->
    <div class="wrapper">
        <div class="inner">

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy;{{ copyright }} Devin Matte <br>Code on <a href="https://github.com/devinmatte/Portfolio">GitHub</a></p>
            </footer>

        </div>
    </div>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.min.js"></script>
<script src="assets/js/main.min.js"></script>

</body>
</html>
